.editableTransactionTable.ant-table-row-level-0 {
  background-color: #ffffff;
  .transactionTableSave {
    color: #ff0000
  }
  .transactionTableCancel {
    color: #00ff00,
  }
  .transactionTableEdit {
    color: #1890ff
  }
  .actionMenu {
    i {
      padding-left: 1em;
    }
  }
}

