.ant-table-row-level-0 {
  background-color: #e8e8e8;
}
.ant-table-row-level-1 {
  background-color: white;
}
.masterCategoryNameCell {
  .masterCategoryName {
    display: inline-block;
    margin-right: 8px;
  }
  .addCategoryIconButton {
    display: inline-block;
    color: #1890ff;
  }
}

