body {
  margin: 0
}

#root {
  height: 100vh;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

.ant-menu.compact {
  &.ant-menu-vertical {
    .ant-menu-item,
    .ant-menu-item:not(:last-child) {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

input, button, select, optgroup, textarea {
  margin: 0.5em;
}

.compact {
  input, button, select, optgroup, textarea {
    margin: 0.1em;
  }
}