.appBarContainer.ant-layout-header {
  padding: 0 24px;

  .ant-col > * {
    margin-left: 1em;
  }
}
.dashboardHeader.ant-page-header {
  background: #001529;
}
.menuIcon.anticon.anticon-menu {
  color: white;
}

.ant-dropdown-menu.link li {
  &:not(.ant-dropdown-menu-item-divider) {
    color: #1890ff;
    background-color: transparent;
    border-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 32px;
}
}