.appBarContainer.ant-layout-header {
  padding: 0 24px;
}
.dashboardHeader.ant-page-header {
  background: #001529;
  height: 48px;
  display: flex;
  flex: 1 0 auto;
  .ant-page-header-content {
    padding-top: 0;
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
  }
}
.menuIcon.anticon.anticon-menu {
  color: white;
}